@import '~antd/dist/antd.css';
@import 'Main.css';
@import 'Register.css';
@import 'Login.css';
@import 'Header.css';
@import 'Home.css';
@import 'AroundMaker.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  float: left;
}

.App-header {
  background-color: #990000;
  height: 60px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #FFCC00;
  padding-top: 16px;
  float: left;
  margin-left: 30px;
  font-family: 'Times New Roman';
}

.App-intro {
  font-size: large;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
